<!DOCTYPE html>
<html lang="en">

<head>
    <title>Li Log 🌚</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class='text-center'>Li 🌚</h1>
            <br>
            <p class='text-center'>
                <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Lithium" role="button">Lithium</a>
            </p>
        </div>
    </div>
    <div class="container">
        <ul text-center>
            <% amounts.forEach(function(amount) { %>
                <div class='row'>
                    <div class="col-6 text-center">
                        <p>Дата: <%= amount.date.getDate() %>.<%= amount.date.getMonth()+1 %>.<%= amount.date.getFullYear() %> <%= amount.date.getHours() %>:<%= amount.date.getMinutes() %></p>
                    </div>
                    <div class="col-6 text-center">
                        <p>Дозировка: <%= amount.dosage %></p>
                    </div>
                </div>
            <% }); %>
         </ul>
    </div>
    <!-- Спасибо, что заглянули ^_^ -->
  </body>
</html>
